<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/all.css">
  <title>Home</title>
</head>
<body>
  <h1>Home</h1>
  <form action="/checkPrice" method="post" >
    <label for="price">Please enter your ideal price</label>
    <input type="number" id ="price" name="price" autofocus />
    <input type="submit" value="Send">  
  </form> 
</body>
</html>

<script>

</script>